<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} {{ page.title_base }}</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="icon" type="image/png" href="/favicon.png" />
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        
        <link rel="stylesheet" href="/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
        <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
        
        <!-- fonts -->
	<link rel="stylesheet" href="/css/fonts.css" type="text/css"/>
        <!-- <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/combat" type="text/css"/> -->
    </head>
    <body>
    
        <div id="wrapper">
        
            <div class="left_float">
                <img src="/images/base/logo.png" class="logo"/>
            </div>
            
            <div id="header" class="header">
                <div>
                    <h1 class="title"><a href="/">caryoscelus:~#</a></h1>
                    <br/>
                    <span class="title_menu">
                        <a class="extra" href="/">[/]</a>
                        <a class="extra" href="/blog/">[log]</a>
                        <a class="extra" href="/projects/">[prj]</a>
                        <a class="extra" href="/txt/">[txt]</a>
                        <a class="extra" href="/music/">[mus]</a>
                        <a class="extra" href="/about/">[bout]</a>
                        <a class="extra">[?..]</a>
                    </span>
                    <br/>
                    <div class="quote">
                        <a href="/projects/absurdology.html">
                            <span class="quote0">«Be rational, embrace the absurd»</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="main">
                {{ content }}
            </div>
          
        </div>

        <div id="footer">
            <div class="contacts">
                <div class="contact">
                    i am caryoscelus at:
                    <a href="/contacts/#mail">gmx.com</a> |
                    <a href="/contacts/#xmpp">jabber.org</a> |
                    <a href="https://notabug.org/caryoscelus">notabug.org</a> |
                    <a href="https://github.com/caryoscelus">github.com</a> |
                    <a href="/contacts/">...</a>
                </div>
                <div class="contact">
                    subscribe:
                    <a href="http://caryoscelus.github.io/atom.xml">atom</a> |
                    <a href="http://caryoscelus.github.io/rss.xml">rss</a> |
                    <a href="javascript:void(0)" onclick="return page.followPosts()">0net</a>
		    ||
		    <a href="/donate/">donate</a>
                </div>
            </div>
            <div class="site_notes">
                This site is powered by <a href="http://jekyllrb.com">Jekyll</a> and/or <a href="http://127.0.0.1:43110/1DTjNhj7Mm4hSvEQ2mEUnWp5cP1eaUzHyA">HydeView</a>. Hosted on <a href="https://en.wikipedia.org/wiki/ZeroNet">0net</a> and <a href="https://pages.github.com">github pages</a>. See source repository on <a href="https://notabug.org/caryoscelus/caryoscelus-site">notabug</a> or <a href="https://github.com/caryoscelus/caryoscelus.github.io">github</a>.<br/>
                Copyleft (ↄ) 2014-2020 caryoscelus
            </div>
        </div>

    </body>
</html>
