---
layout: default
title_base: "&lt; caryoscelus"
---
<div class="post_header">
    <div class="meta">{{ page.date | date_to_string }}</div>
    <h2>{{ page.title }}</h2>
</div>

<div class="post">
{{ content }}
</div>

<div id="comments_wrapper">
  <h3>Comments</h3>
  <span id="hydeview_comments"><h4>You need to access this site via 0net to read & write comments; alternatively, refer to <a href="/contacts/">contacts page</a></h4></span>
  <div class="add_comment">
    {{ commentadd }}
  </div>
</div>
